<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insan.uts_insanmaulana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_InsanMaulana">
        <activity
            android:name="com.insan.uts_insanmaulana.DetailAndroidActivity"
            android:exported="false" />
        <activity
            android:name="com.insan.uts_insanmaulana.AndroidAdapter"
            android:exported="false" />
        <activity
            android:name="com.insan.uts_insanmaulana.Android"
            android:exported="false" />
        <activity
            android:name="com.insan.uts_insanmaulana.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.insan.uts_insanmaulana.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>